<h1>次の手を記録</h1>

<%= form_with model: @move, url: kifu_move_path(@kifu), method: :post do |form| %>
  <div>
    着手番号
    <%= form.number_field :move_number %>
  </div>

  <div>
    碁石の色
    <%= form.select :color, Move.colors.keys %>
  </div>

  <div>
    横の位置
    <%= form.number_field :x %>
  </div>

  <div>
    縦の位置
    <%= form.number_field :y %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to "碁盤へ戻る", kifu_path(@kifu), method: :get %>
