<h1>次の手を記録</h1>

<%= form_with model: @move, url: kifu_move_path(@kifu), method: :post do |form| %>
  <table>
    <tr>
      <td>着手番号</td>
      <td><%= form.number_field :move_number %></td>
    </tr>

    <tr>
      <td>碁石の色</td>
      <td><%= form.select :color, Move.colors.keys %></td>
    </tr>

    <tr>
      <td>横の位置</td>
      <td><%= form.number_field :x %></td>
    </tr>

    <tr>
      <td>縦の位置</td>
      <td><%= form.number_field :y %></td>
    </tr>

    <tr align="right">
      <td colspan="2"><%= form.submit "記録" %></td>
    </tr>
  </table>
<% end %>

<%= button_to "碁盤へ戻る", kifu_path(@kifu), method: :get %>
