<h1>New Move</h1>

<%= form_with model: @move, url: kifu_move_path(@kifu), method: :post do |form| %>
  <div>
    <%= form.label :move_number %>
    <%= form.number_field :move_number %>
  </div>

  <div>
    <%= form.label :color %>
    <%= form.select :color, Move.colors.keys %>
  </div>

  <div>
    <%= form.label :x %>
    <%= form.number_field :x %>
  </div>

  <div>
    <%= form.label :y %>
    <%= form.number_field :y %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to "Showへ戻る", kifu_path(@kifu), method: :get %>
